h1.title{
	justify-self: center;
    font-family: sans-serif;
    color:var(--text-color)
}
p{

    font-family: sans-serif;
    color:var(--text-color)
}
ul{
	list-style-type: none

}
.content{
	padding:20px;
	color:var(--text-color)
}
.ShaderFrame{
	padding: 20px;
	.red{
		display:inline;
		color:red;
	}
	.green{
		display:inline;
		color:green;
	}
	.blue{
		display:inline;
		color:blue
	}
	p{
		padding: 2px;
		display: inline;
	}
	canvas{
		width: calc(min(480px,90vw));
		height: calc(min(270px,30vh));
		display: block;
	}
	
}
